div{
  text-align: center;
  text-shadow: skyblue;
  border-width: 5px;
  border-top: slateblue;
  background-image: repeating-linear-gradient(190deg,rgb(145, 33, 33), teal);
  padding-bottom: 20px;
}

button{
  display: inline-block;
  padding: 15px 18px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  border-radius: 9px;
  box-shadow: 4px 4px #999;
  margin:5px;
}

